<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer__links">

      <a href="{{ site.baseurl }}/about">About</a>
      <a href="mailto:{{ site.email }}">Contact me</a>

      <div class="site-footer__social">
        <a href="http://www.twitter.com/{{ site.twitter_username }}" target="_blank">
          {% include svg/twitter.svg %}
        </a>
        <a href="http://www.facebook.com/{{ site.facebook_username }}" target="_blank">
          {% include svg/facebook.svg %}
        </a>
        <a href="http://www.github.com/{{ site.github_username }}" target="_blank">
          {% include svg/github.svg %}
        </a>
      </div>
    </div>

    <div class="site-footer__copyright">
      &copy; Nayaabkhan
    </div>
  </div>
</footer>
