<header class="site-header">
  <div class="wrapper">
    <nav class="site-navigation">
      <div class="site-navigation__left">
        <ul class="site-navigation__list">
          <li class="site-navigation__item">
            <a href="{{ site.baseurl }}/about" class="site-navigation__link">About</a>
          </li>
          <li class="site-navigation__item">
            <a href="mailto:{{ site.email }}" class="site-navigation__link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="site-navigation__right">
        <ul class="site-navigation__list">
          <li class="site-navigation__item">
            <a href="http://www.twitter.com/{{ site.twitter_username }}" class="site-navigation__link" target="_blank">Twitter</a>
          </li>
          <li class="site-navigation__item">
            <a href="http://www.github.com/{{ site.github_username }}" class="site-navigation__link" target="_blank">Github</a>
          </li>
        </ul>
      </div>
      <div class="site-navigation__logo">
        <a href="{{ site.baseurl }}/">
          {% include svg/logo.svg %}
        </a>
      </div>
    </nav>

    <div class="site-hero">
      {% if page.path contains "_posts" %}
        <img src="{{ page.slug | prepend: '/images/hero-images/' | prepend: site.baseurl | append: '.svg' }}"/>
      {% else %}
      <h1 class="site-hero__title">
        {{ site.title }}
      </h1>

      <h2 class="site-hero__subtitle">
        {{ site.subtitle }}
      </h2>
      {% endif %}
    </div>
  </div>
</header>
