<div class="sub-navigation">
  <div class="wrapper">
    <ul class="sub-navigation__list">
      <li class="sub-navigation__item">
        <a href="" class="sub-navigation__link">React</a>
      </li>
      <li class="sub-navigation__item">
        <a href="" class="sub-navigation__link">Design</a>
      </li>
      <li class="sub-navigation__item">
        <a href="" class="sub-navigation__link">Opinions</a>
      </li>
      <li class="sub-navigation__item">
        <a href="" class="sub-navigation__link">DIY</a>
      </li>
      <li class="sub-navigation__item">
        <a href="" class="sub-navigation__link">Rants et al.</a>
      </li>
    </ul>
  </div>
</div>
