$base-font-family: "Europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  11px;
$base-line-height: 1.7;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
