$footer-color: lighten($text-color, 30%);

.site-footer {
  border-top: 1px solid $border-color;
  padding: 60px;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  color: $footer-color;
}

.site-footer__links a {
  display: inline-block;
  margin-right: 20px;
  line-height: 20px;
  vertical-align: middle;
  color: $footer-color;
}

.site-footer__links svg {
  fill: $footer-color;
}

.site-footer__social {
  display: inline-block;
}

.site-footer__social > a {
  margin-right: 10px;
}

.site-footer__copyright {
  margin-top: 15px;
}
