.site-header {
  text-align: center;
  background: #FFF;
}

.site-navigation {
  position: relative;
  height: 75px;
  line-height: 75px;
  text-transform: uppercase;
  font-size: 12px;
}

.site-navigation__list {
  @extend %bare-list;
  @extend %clearfix;
}

.site-navigation__item {
  float: left;
  margin: 0 15px;
}

.site-navigation__left {
  position: absolute;
  left: 0;
}

.site-navigation__right {
  position: absolute;
  right: 0;
}

.site-navigation__link {
  color: inherit;

  &:hover {
    color: $brand-color;
  }
}

.site-navigation__logo {
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.site-navigation__logo a {
  display: inline-block;
}

.site-navigation__logo svg {
  width: 41px;
  height: 41px;
  margin: 17px;
  fill: $brand-color;
  transition: .4s fill;

  &:hover {
    fill: lighten($brand-color, 7%);
  }
}

.site-hero__title {
  margin: 58px 0 0;
  font-size: 38px;
  color: $brand-color;
}

.site-hero__subtitle {
  margin: 0;
  padding-bottom: 97px;
  font-size: 16px;
  font-weight: $font-weight-light;
}
