.post-listing {
  @extend %bare-list;
}

.post-listing__item {
  padding: 60px 0;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }
}

.post-listing__link {
  display: block;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.post-listing__meta {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}

.post-listing__date,
.post-listing__category,
.post-listing__comment-count {
  display: inline-block;
  margin-right: 12px;
}

.post-listing__date {
  color: lighten($text-color, 30%);
}

.post-listing__title {
  margin-top: 0;
  font-weight: $font-weight-normal;
  font-size: 28px;
}

.post-listing__excerpt {
  font-weight: $font-weight-light;
}
