$post-sharer-border-length: 60px;

.post-heading {
  text-align: center;
  margin-bottom: 60px;
}

.post-heading__title {
  margin-bottom: 0;
  font-size: 26px;
}

.post-heading__date {
  font-weight: $font-weight-light;
}

.post__content {
  font-weight: $font-weight-light;
}

.post__content h2,
.post__content h3,
.post__content h4 {
  margin-top: $base-spacing * 2;
  margin-bottom: $base-spacing / 3;
}

.post__content h4 {
  margin-top: $base-spacing;
}

.post__content img {
  display: block;
  margin: auto;
}

.post__sharer {
  position: relative;
  margin: 60px 0;
  padding-top: 60px;
  text-align: center;

  :before {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-$post-sharer-border-length/2);
    content: "";
    width: $post-sharer-border-length;
    height: 1px;
    background-color: $border-color;
  }
}

.post__sharer__title {
  margin-bottom: 5px;
}

.post__sharer__subtitle {
  opacity: 0.5;
  font-weight: $font-weight-light;
}
