.post-listing {
  @extend %bare-list;
}

.post-listing__item {
  padding: 60px 0;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }

  a {
    display: block;
    color: inherit;
  }
}

.post-listing__date {
  font-size: 14px;
  color: lighten($text-color, 30%);
  font-weight: $font-weight-light;
}

.post-listing__title {
  font-weight: $font-weight-normal;
  font-size: 28px;
}

.post-listing__excerpt {
  font-weight: $font-weight-light;
}
